@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center"">
    <h1 class="display-6">Aplicación para registrar, validar,</h1>
    <h2 class="display-6">editar y listar estudiantes</h2><br />
    <p><strong>Maestro:</strong> Luis Javiel Fortuna Uribe</p>
    <p><strong>Asignatura:</strong> Lenguaje de Programación 3</p>
    <p><strong>Alumno:</strong> Ezequiel Geraldo Santos González</p>
    <p><strong>Matrícula:</strong> SD-2022-04397</p><br>
    <a href="/Estudiantes/Registrar" class="btn btn-success">Iniciar aplicación</a>
</div>
