@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center"">
    <h1 class="display-6">Aplicación para registrar, validar,</h1>
    <h2 class="display-6">editar y listar estudiantes</h2><br />
    <p><strong>Maestro:</strong> Luis Javiel Fortuna Uribe</p>
    <p><strong>Asignatura:</strong> Lenguaje de Programación 3</p>
    <p><strong>Alumno:</strong> Ezequiel Geraldo Santos González</p>
    <p><strong>Matrícula:</strong> SD-2022-04397</p><br>
    <button type="button" class="btn btn-success" href="/Views/Estudiantes/Registrar">Iniciar aplicación</button>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Estudiantes" asp-action="Lista">Lista de estudiantes</a>
    </li>
</div>
